 /* Mise en page général */

 /* variables */

 $mainColor: #F0F0F3;
 $secondColor: #1b1b1b;
 $btnBg: #D9D9D9;
 
 $bronzeGradient: linear-gradient(103.85deg, #6A3805 0%, #AD8A56 100%);
 $silverGradient: linear-gradient(103.85deg, #D7D7D7 0%, #B4B4B4 100%);
 $goldGradient: linear-gradient(103.85deg, #CFB94E 0%, #E6C300 100%);

 $dropShadow: -2.8px -2.8px 8.5px #FFFFFF, 4.2px 4.2px 5.7px rgba(174, 174, 192, 0.4);
 $innerShadow: inset -2.8px -2.8px 2.8px rgba(255, 255, 255, 0.7), inset 4.2px 4.2px 2.8px rgba(174, 174, 192, 0.2);
 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    height: 100vh;
    width: 100%;
}

button {
    padding: 2rem 3rem;
    color: #fff;
    background-color: rgb(160, 160, 160);
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease-out;
    &#click{
        background-color: rgb(144, 20, 20);
        &:hover{
            opacity: 0.8;
        }
    }
    &.active{
        background-color: rgb(2, 140, 94);
        &:hover{
            opacity: 0.8;
        }
    }
    &:hover{
        cursor: pointer;
    }

}

.btnWrapper{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    .btnItem{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.5rem;

    }
}

/* Import */

/* Mixin */

 /* Titre */


 /* Bouton */

 /* Class fonctionnelles */

 /* HEADER */

 /* MAIN */

 /* FOOTER */