 /* Mise en page général */

@font-face {
    font-family: "Fahkwang";
    src: url('../font/Fahkwang-Regular.ttf');
    src: url('../font/Fahkwang-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Gunsan";
    src: url('../font/Gunsan.ttf');
    src: url('../font/Gunsan.ttf') format('truetype');
}

// variables

$main-color : #97FFD0;
$second-color : #fdfdfd;
$bg-color : #0E0E0E;
$secondbg-color: #171B19;

$title-font :'Gunsan';
$main-font : 'Fahkwang';

// Import

@import 'keyframe';

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font, Helvetica, sans-serif;
}

html{
    cursor: none !important;
}

body{
    font-size: 16px;
    color: $second-color;
    background: $bg-color url("../img/bg\ header.svg") no-repeat top right / 100%;
}

::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: $bg-color;
}

::-webkit-scrollbar-thumb {
    background: $main-color;
}

.circleCursor {
    position: fixed;
    display: inline-block;
    border-radius: 50%;
    background-color: $main-color;
    width: 20px;
    height: 20px;
    left: 20px;
    right: 0;
    z-index: 10000;
    transition: transform .2s ease, opacity .2s ease, background-color .2s ease;
    pointer-events: none;
    transform: scale(1);
  }

/* Mixin */

@mixin flex-center-btw($justify, $direction) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* Titre */

h1, .headingLarge-XX{
    font-family: $title-font;
    font-weight: 400;
    font-size: 10vw;
    &.green{
        color: $main-color;
    }
    span{
        font-family: $main-font;
        color: $second-color;
    }
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
}

p{
    font-size: 1.1rem;
}

a{
    cursor: none;
}

 /* Bouton */

 .main-btn{
    @include flex-center-center();
    margin-top: 7%;
    position: relative;
    z-index: 1;
    img {
        position: absolute;
        left: -25%;
        top: 0;
        width: 150%;
        max-width: 150%;
        z-index: -1;
        transition: all ease-in-out 0.4s;
        &.hide{
            opacity: 0;
            transform: rotateZ(-15deg);
        }
        &.active{
            &:nth-child(2){
                transform: rotateZ(-5deg);
            }
            &:nth-child(3){
                transform: rotateZ(0deg);
            }
            &:nth-child(4){
                transform: rotateZ(5deg);
            }
            &:nth-child(5){
                transform: rotateZ(10deg);
            }
            &:nth-child(6){
                transform: rotateZ(-10deg);
            }
        }
    }

    .main-cta{
        font-size: 1.5rem;
        padding: 20px;
        color: $second-color;
        text-decoration: none;
        text-transform: capitalize;
    }
 }
 
 .secondary-btn {
    color: $main-color;
    padding: 0 15px;
    margin-left: -35px;
    text-decoration: none;
    z-index: 12;
    @include flex-center-btw(flex-start, row);
    p{
        display: inline-block;
        font-weight: 600;
        font-size: 1.1rem;
        padding: 20px;
    }
    .secondBtn-img{
        height: auto;
        transition: all ease-in-out 0.4s;
        &.active{
          transform: translateX(10px);  
        }
    }
 }

 /* Class fonctionnelles */

section { 
    height: auto;
    min-height: 120vh;
    @include flex-center-center();
    &#hero{
        padding-top: 5vh;
        align-items: flex-start;
    }
    &#footer{
        min-height: 100vh;
        height: 100vh;
        background-color: $secondbg-color;
    }
}

 .container{
    width: 80vw;
    margin: 0 auto;
    &.large{
        width: 95vw;
        height: 100%;
        &.footer {
            padding: 10vh 0;
        }
    }
    &.medium{
        width: 70vw;
        padding: 20vh 0;
    }
    &.small{
        width: 60vw;
        padding: 20vh 0;
    }
}

.mainWrapper {
    @include flex-center-btw(space-between, column);
    align-items: flex-start;
    &.bio{
        align-items: flex-end;
        padding-right: 5vw;
    }
    &.contact{
        @include flex-center-center();
    }
    &.footer {
        height: 100%;
        @include flex-center-btw(space-between, column);
    }
}

img{
    display: block;
    max-width: 100%;
    height: 100%;
}

/* HEADER */

// Loader animation

.loader-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
    z-index: 1000;
    transition: all 1s ease-out 1.3s;
    &.hidden{
        opacity: 0;
        visibility: hidden;
        }
    .loader-animation{
        position: absolute;
        z-index: 10000;    
        width: 100%;
        height: 100vh;
        opacity: 1;
        transition: all 0.7s ease-out;
        }
    .blockBg-loader{
        transform-origin: 50% 0%;
        background-color: $bg-color;
        position: absolute;
        z-index: 9999;    
        width: 100%;
        height: 100vh;
        &.green{
            z-index: 9998;  
            background-color: $main-color;
        }
    }
}

 header{
    margin-top: 20px;
}

nav{
    @include flex-center-btw(space-between, row);
    .link-nav{
        margin-left: 15%;
    }
    ul{
        @include flex-center-btw(space-between,row);
        li{
            list-style-type: none;
        
            a{
                text-decoration: none;
                color: $second-color;
                padding: 12px 30px;
                
                &:hover{
                    color: $main-color;
                }
            }
        }
    }
}

.headerMask {
    overflow: hidden;
    padding: 0 13px;
}
 /* MAIN */

// Bio

 .block-bio{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p{
        font-size: 1.8rem;
    }
 }

// Projects

.projectWrapper {
    @include flex-center-center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 20vh;
    margin-top: 10vh;
    width: 100%;
    .collectionProject{
        width: 100%;
        &.right{
            display: flex;
            justify-content: flex-end;
        }
        .blockProject-item {
            display: block;
            width: 40vw;
            text-decoration: none;
            .blockProject-img{
                overflow: hidden;
                position: relative;
                transition: all .6s ease-in-out;
                &:hover{
                    box-shadow: rgba($main-color, 0.25) 0px 0px 100px 0px, rgba($main-color, 0.3) 0px 0px 60px 0px;
                }
                img{
                    background: linear-gradient(180deg, rgb(10, 10, 10) 0%, rgba(0, 212, 255, 0) 100%);
                }
            }
        }
    }
}

// Expertises

.expertiseWrapper {
    width: 100%;
    margin-top: 10vh;
}

.blockExpertise {
    position: relative;
    padding: 55px 20px;
    width: 100%;
    .lineBlockExpertise {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        border-top: 2px solid $main-color;
        transform-origin: 0 50%;
    
    &.bottom {
        border-bottom: 2px solid $main-color;
    }
    }
}


 /* FOOTER */

.footerNavWrapper{
    width: 100%;
    @include flex-center-btw(space-between, row);  
}

#footerNav{
    width: 100%;
    .link-footer{
        margin: 0;
        @include flex-center-btw(space-between, row);
        ul{
            @include flex-center-btw(space-between, row);
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                    color: $second-color;
                    padding: 12px 30px;
                    transition: all ease-in-out 0.2s;
                    &:hover{
                        color: $main-color;
                    }
                }
            }
        }
    }
}

.mailLink-footer{
    text-decoration: none;
    color: $second-color;
    padding: 12px 30px;
    transition: all 0.3s ease;
    &:hover {
        text-decoration: underline;
    }
}

.footerHeaderBlock {
    @include flex-center-center();
    flex-direction: column;
}

.circleSocial {
    border: 1px solid $second-color;
    border-radius: 50%;
    margin-left: 2rem;
    padding: 0 20px;
    background-color: $secondbg-color;
    transition: all ease-in-out 0.4s;
    &:hover{
        filter: invert(1);
    }
    a{     
        img{
            width: 2rem;
            height: 2rem;
        }
    }
}