/* PC small height screen ----------- */
@media only screen and (max-height : 650px) {
    .ressourceBtn{
        flex-direction: row !important;
        gap: 1rem;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 1024px) {

    // .circleCursor{
    //     display: none;
    // }

    html{
        cursor: default;
    }
    
    #section{
        flex-direction: column-reverse;
        gap: 1rem;
        .btnContent{
            width: 100%;
            border-top: 0.1rem solid rgba($fontcolor, 0.1);
            border-right: none;
            padding: 4vh 0;
            .btnWrapper{
                flex-direction: column-reverse;
                align-items: center;
                width: 70vw;
                .ressourceBtn{
                    flex-direction: row;
                    .btnBoost{
                        padding: 0.8rem 1.4rem;
                    }
                }
            }
            .AutoClickWrapper{
                display: flex;
                .btnDropshadow{
                    height: 5.2rem;
                }
                .toggleWrapper{
                    margin-top: -3vh;
                }
            }
        }
        .displayContent{
            width: 100%;
            padding: 3vh 10vw;
            flex-direction: row-reverse;
        }
    }
    .imgWrapper{
        width: 18vw;
    }

    .sideBar{
        width: 40%;
        .topBlock{
            .menuLogo{
                img{
                    width: 10vw;
                }
            }
        }
    }
}

.progressBarWrapper{
    margin-top: 0vh;
}


/* Smartphones (portrait) ----------- */
@media screen and (max-width : 768px) {
    .imgWrapper{
        width: 24vw;
    }
}

/* Smartphones (landscape) ----------- */
@media screen and (max-width : 480px) {
    .sideBar{
        width: 100%;
        .topBlock{
            width: 100%;
            .menuLogo{
                margin-right: 10vw;
                width: 80%;
                display: flex;
                justify-content: flex-end;
                img{
                    width: 20vw;
                }
            }
            .menuLink{
                margin-top: 10vh;
                width: 100%;
                padding: 0 25vw;
                ul{
                    justify-content: center;
                }
            }
        }
    }
    
    .imgWrapper{
        width: 40vw;
    }

    .btnBoost{
        padding: 0.6rem 1rem;
    }
}
