/* variables */

$mainColor: #F0F0F3;
$fontcolor: #1b1b1b;
$btnBg: #D9D9D9;
$secondColor: #EEEEEE;

$bronzeGradient: linear-gradient(103.85deg, #6A3805 0%, #AD8A56 100%);
$silverGradient: linear-gradient(103.85deg, #D7D7D7 0%, #B4B4B4 100%);
$goldGradient: linear-gradient(103.85deg, #CFB94E 0%, #E6C300 100%);

$dropShadow: -0.175rem -0.175rem 0.5rem #FFFFFF, 0.26rem 0.26rem 0.35rem rgba(174, 174, 192, 0.4);
$innerShadow: inset -0.175rem -0.175rem 0.175rem rgba(255, 255, 255, 0.7), inset 0.26rem 0.26rem 0.175rem rgba(174, 174, 192, 0.2);

 //  Mixin

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}

// Import

@import '../css/keyframes';

/* Mise en page général */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

#section{
    @include flexCenter();
    gap: 4rem;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    background-color: $mainColor;
}

/* Bouton */

.btnDropshadow{
    display: inline-block;
    box-shadow: $dropShadow;
    padding: 0.2rem;
    border-radius: 1rem;
    transition: all 0.5s ease-out;
    position: relative;
    z-index: 5;
    &#shadowBoost{
        padding: 0;
        display: grid;
        place-items: center;
    }
    .btnBoost{
        font-size: clamp(0.5rem, 3vw, 0.8rem);
        background-color: $secondColor;
        padding: 1.2rem 1.9rem;
        border: none;
        border-radius: 1rem;
        transition: all 0.5s ease;
        &:hover{
            cursor: pointer;
            box-shadow: $innerShadow;
        }
        &#click{
            box-shadow: $innerShadow;
        }
        &.reset{
            padding: 0.7rem 1rem;
        }
        &#btnBoostAutoClick{
            margin: 0.2rem;
            display: none;
        }
    }
    &:active{
        transform: scale(0.95);
    }
}

.toggleWrapper{
    @include flexCenter();
    flex-direction: column;
    p{
        font-size: clamp(0.6rem, 2vw, 0.9rem);
    }
    #borderToggleBtn{
        box-shadow: $dropShadow;
        width: 5.625rem;
        height: 2.5rem;
        margin: 1.25rem;
        border-radius: 1.875rem;
        display: inline-block;
        #btn_container {
            position: relative;
            width: 5.5rem;
            height: 2.4rem;
            background-color: $secondColor;
            box-shadow: $innerShadow;
            @include flexCenter();
            border-radius: 1.875rem;
            cursor: pointer;
            #one {
                position: absolute;
                height: 2rem;
                width: 2rem;
                background-color: #F0F0F3;
                display: block;
                border-radius: 1.875rem;
                box-shadow: $dropShadow;
                transition: all 0.3s ease;
                left: 0.325rem;
                &.active {
                    transform: translateX(145%);
                }
                #purpleCircle{
                    height: 0.8rem;
                    width: 0.8rem;
                    background-color: #745FF2;
                    position: absolute;
                    border-radius: 1rem;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    transition: all 0.3s ease-out;
                    &.active{
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }
        }   
    }
}



/* Class fonctionnelles */

/* HEADER */

label{
    @include flexCol();
    width: 3rem;
    position: fixed;
    left: 3rem;
    top: 3rem;
    z-index: 1001;
    cursor:pointer;
    input[type="checkbox"]{
        display:none;
        &:checked ~ span:nth-of-type(1){
            transform-origin:bottom;
            transform:rotatez(45deg) translate(12px,4px)
        }
        &:checked ~ span:nth-of-type(2){
            transform-origin:top;
            transform:rotatez(-45deg)
        }
        &:checked ~ span:nth-of-type(3){
            transform-origin:bottom;
            width:50%;
            transform: translate(22px, -13px) rotatez(45deg);
        }
    }
    span{
        position: relative;
        background: $fontcolor;
        box-shadow: $dropShadow;
        border-radius:10px;
        height:7px;
        margin: 7px 0;
        transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
        &:nth-of-type(1){
            z-index: 1;
            width:50%;
        }
        &:nth-of-type(2){
            z-index: 2;
            width:100%;
        }
        &:nth-of-type(3){
            z-index: 1;
            width:75%;
        }
    }
}

.sideBar {
    background-color: $secondColor;
    box-shadow: $dropShadow;
    position: absolute;
    left: -100%;
    top: 0;
    bottom: 0;
    width: 20%;
    z-index: 1000;
    padding: 3rem 1.5rem;
    transition: all 0.8s ease;
    @include flexCol();
    align-items: center;
    justify-content: space-between;
    &.active{
        left: 0;
    }
    .topBlock{
        @include flexCol();
        align-items: flex-end;
        justify-content: center;
        background-color: transparent;
        .menuLogo{
            img{
                width: 5vw;
            }
        }
        .menuLink{
            margin-top: 2rem;
            background-color: transparent;
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;
                li{
                    @include flexCenter();
                    justify-content: flex-start;
                    a{
                        padding: 0.7rem 1.2rem;
                        cursor: pointer;
                        color: $fontcolor;
                        text-decoration: none;
                    }
                    &:hover{
                        text-decoration: underline;
                }
            }
        }
        }
    }
    .btmBlock{
        width: 80%;
        text-align: center;
        .socialLink{
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            border-bottom: 1px solid rgba($fontcolor, 0.1);
            ul{
                list-style-type: none;
                @include flexCenter();
                justify-content: space-around;
            }
        }
    }
}

/* MAIN */


.btnContent{
    height: 100%;
    width:  50%;
    @include flexCenter();
    flex-direction: column;
    border-right: 0.1rem solid rgba($fontcolor, 0.1);
}
.displayContent{
    padding: 4vh 10vh 15vh 10vh;
    width: 60%;
    height: 100%;
    @include flexCenter();
    justify-content: flex-start;
    .MainWrapperRight{
        @include flexCol();
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        height: 100%;
    }
}

.btnWrapper{
    @include flexCol();
    gap: 1.5rem;
    margin-bottom: 5vh;
    width: 100%;
    .ressourceBtn{
        @include flexCol();
        gap: 1.5rem;
        width: 100%;
        justify-content: space-evenly;
    }
}
.btnItem{
    @include flexCol();
    align-items: center;
    gap: 0.7rem;
    .price{
        font-weight: 700;
        font-size: clamp(0.8rem, 2vw ,0.9rem);
        &#bronze{
            background: $bronzeGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        &#silver{
            background: $silverGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
        &#gold{
            background: $goldGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
}

.scoreWrapper{
    @include flexCenter();
    flex-direction: column;
    #mainMessage{
        font-size: clamp(0.7rem, 2vw, 1.5rem);
        text-align: center;
        font-weight: 400;
    }
    .score{
        @include flexCenter();
        flex-direction: column;
        position: relative;
        span{
            position: absolute;
            font-size: clamp(0.8rem, 2vw, 1rem);
            font-weight: 700;
            display: none;
            &:nth-of-type(1){
                left: 120%;
                top: 0%;
                background: $bronzeGradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            &:nth-of-type(2){
                left: 120%;
                top: 25%;
                background: $silverGradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            &:nth-of-type(3){
                left: 120%;
                top: 50%;
                background: $goldGradient;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
        #display{
            font-size: clamp(2rem, 3vw,3rem);
            font-weight: 700;
            text-shadow: $dropShadow;
        }
    }
}


.imgWrapper {
    width: 20vw;
    margin: 5vh 0;
    position: relative;
    @include flexCenter();
    .imgLevel{
        width: 100%;
        opacity: 0;
        top: 50%;
        position: absolute;
        z-index: 0;
        transform: translateY(-50%);
        transition: all 0.5s ease-out;
        &:first-of-type{
            display: block;
            top: 0;
        }
    }
}

.progressBarWrapper{
    width: 10%;
    position: relative;
    z-index: 2;
    left: 0;
    @include flexCenter();
    margin-top: -15vh;
    transform: rotate(-90deg);
    h2{
        transform: rotate(90deg);
        text-align: center;
        font-size: clamp(0.8rem, 1vw, 3rem);
    }
    .progressShadow{
        border-radius: 3rem;
        box-shadow: $dropShadow;
        padding: 0.2rem;
        .progress {
            background-color: $secondColor;
            box-shadow: $innerShadow;
            @include flexCenter();
            justify-content: flex-start;
            border-radius: 3rem;
            position: relative;
            height: 1.5rem;
            width: clamp(7rem, 22vh, 14rem);
            .progress-value {
                border-radius: 3rem;
                height: 1.3rem;
                width: 0;
            }
        }
    }
}


/* Media queries */

@import 'media-queries';