@charset "UTF-8";
/* Mise en page général */
/* variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

#section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  background-color: #F0F0F3;
}
#section .leftContent {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 0.1rem solid rgba(27, 27, 27, 0.1);
}
#section .rightContent {
  padding: 10vh;
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnDropshadow {
  display: inline-block;
  box-shadow: -0.175rem -0.175rem 0.5rem #FFFFFF, 0.26rem 0.26rem 0.35rem rgba(174, 174, 192, 0.4);
  padding: 0.2rem;
  border-radius: 1rem;
  transition: all 0.5s ease-out;
}
.btnDropshadow .btnBoost {
  background-color: #EEEEEE;
  padding: 1.2rem 1.9rem;
  border: none;
  border-radius: 1rem;
  transition: all 0.5s ease;
}
.btnDropshadow .btnBoost:hover {
  cursor: pointer;
  box-shadow: inset -0.175rem -0.175rem 0.175rem rgba(255, 255, 255, 0.7), inset 0.26rem 0.26rem 0.175rem rgba(174, 174, 192, 0.2);
}
.btnDropshadow .btnBoost#click {
  box-shadow: inset -0.175rem -0.175rem 0.175rem rgba(255, 255, 255, 0.7), inset 0.26rem 0.26rem 0.175rem rgba(174, 174, 192, 0.2);
}
.btnDropshadow:active {
  transform: scale(0.95);
}

.toggleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#borderToggleBtn {
  box-shadow: -0.175rem -0.175rem 0.5rem #FFFFFF, 0.26rem 0.26rem 0.35rem rgba(174, 174, 192, 0.4);
  width: 5.625rem;
  height: 2.5rem;
  margin: 1.25rem;
  border-radius: 1.875rem;
  display: inline-block;
}
#borderToggleBtn #btn_container {
  position: relative;
  width: 5.5rem;
  height: 2.4rem;
  background-color: #EEEEEE;
  box-shadow: inset -0.175rem -0.175rem 0.175rem rgba(255, 255, 255, 0.7), inset 0.26rem 0.26rem 0.175rem rgba(174, 174, 192, 0.2);
  display: flex;
  align-items: center;
  border-radius: 1.875rem;
  cursor: pointer;
}
#borderToggleBtn #btn_container #one {
  position: absolute;
  height: 2rem;
  width: 2rem;
  background-color: #F0F0F3;
  display: block;
  border-radius: 1.875rem;
  box-shadow: -0.175rem -0.175rem 0.5rem #FFFFFF, 0.26rem 0.26rem 0.35rem rgba(174, 174, 192, 0.4);
  transition: all 0.3s ease;
  left: 0.325rem;
}
#borderToggleBtn #btn_container #one.active {
  transform: translateX(145%);
}
#borderToggleBtn #btn_container #one #purpleCircle {
  height: 0.8rem;
  width: 0.8rem;
  background-color: #745FF2;
  position: absolute;
  border-radius: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-out;
}
#borderToggleBtn #btn_container #one #purpleCircle.active {
  transform: translate(-50%, -50%) scale(1);
}

/* Import */
/* Mixin */
/* Titre */
/* Bouton */
/* Class fonctionnelles */
/* HEADER */
label {
  display: flex;
  flex-direction: column;
  width: 50px;
  position: fixed;
  left: 3rem;
  top: 3rem;
  z-index: 1001;
  cursor: pointer;
}
label input[type=checkbox] {
  display: none;
}
label input[type=checkbox]:checked ~ span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(12px, 4px);
}
label input[type=checkbox]:checked ~ span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}
label input[type=checkbox]:checked ~ span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(22px, -13px) rotatez(45deg);
}
label input[type=checkbox]:checked ~ #menuWrapper.active {
  transform: translateX(-150%);
}
label span {
  position: relative;
  background: #1b1b1b;
  box-shadow: -0.175rem -0.175rem 0.5rem #FFFFFF, 0.26rem 0.26rem 0.35rem rgba(174, 174, 192, 0.4);
  border-radius: 10px;
  height: 7px;
  margin: 7px 0;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
label span:nth-of-type(1) {
  z-index: 1;
  width: 50%;
}
label span:nth-of-type(2) {
  z-index: 2;
  width: 100%;
}
label span:nth-of-type(3) {
  z-index: 1;
  width: 75%;
}

#menuWrapper {
  display: none;
  background-color: #EEEEEE;
  box-shadow: -0.175rem -0.175rem 0.5rem #FFFFFF, 0.26rem 0.26rem 0.35rem rgba(174, 174, 192, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20%;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 3rem 1.5rem;
  transition: all 0.5s ease-out;
  transform: translateX(0%);
}
#menuWrapper .topBlock {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}
#menuWrapper .topBlock .menuLink {
  margin-top: 2rem;
  background-color: transparent;
}
#menuWrapper .topBlock .menuLink ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#menuWrapper .topBlock .menuLink ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
#menuWrapper .topBlock .menuLink ul li a {
  padding: 0.7rem 1.2rem;
  cursor: pointer;
  color: #1b1b1b;
  text-decoration: none;
}
#menuWrapper .topBlock .menuLink ul li:hover {
  text-decoration: underline;
}
#menuWrapper .btmBlock .socialLink {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(27, 27, 27, 0.1);
}
#menuWrapper .btmBlock .socialLink ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}

/* MAIN */
.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 5vh;
}
.btnWrapper .btnItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
}
.btnWrapper .btnItem .price {
  font-weight: 700;
  font-size: 0.9rem;
}
.btnWrapper .btnItem .price#bronze {
  background: linear-gradient(103.85deg, #6A3805 0%, #AD8A56 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.btnWrapper .btnItem .price#silver {
  background: linear-gradient(103.85deg, #D7D7D7 0%, #B4B4B4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.btnWrapper .btnItem .price#gold {
  background: linear-gradient(103.85deg, #CFB94E 0%, #E6C300 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.progressBarWrapper {
  display: none;
  width: 10%;
  position: relative;
  z-index: -2;
  align-content: center;
  justify-content: flex-start;
}
.progressBarWrapper .progressShadow {
  transform: rotate(-90deg);
  border-radius: 3rem;
}
.progressBarWrapper .progressShadow .progress {
  background-color: #EEEEEE;
  box-shadow: -0.175rem -0.175rem 0.5rem #FFFFFF, 0.26rem 0.26rem 0.35rem rgba(174, 174, 192, 0.4);
  justify-content: flex-start;
  border-radius: 3rem;
  align-items: center;
  position: relative;
  padding: 0 0.2rem;
  display: flex;
  height: 1.5rem;
  width: 15rem;
}
.progressBarWrapper .progressShadow .progress .progress-value {
  border-radius: 3rem;
  background: #1b1b1b;
  height: 1.4rem;
  width: 40%;
}

.imgLevel {
  display: none;
}

/* FOOTER *//*# sourceMappingURL=style.css.map */