/* Mise en page général */

/* variables */

$main-color: #1C1C1C;
$bg-color: #F2F2F2;

$blue-piece-color: #3F4C6B;

$light-red-gradient: linear-gradient(110.73deg, #EEA7A7 0%, #B02D30 100.08%);
$light-blue-gradient: linear-gradient(110.73deg, #9BBCEB 0%, #6D8AB5 100.08%);
$red-gradient: linear-gradient(125.43deg, #780206 -3.89%, #FF6B6B 85.41%);
$blue-gradient: linear-gradient(117.79deg, #83A4D4 -59.42%, #B6FBFF 84.55%);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', 'Lato', sans-serif;
}

/* Mixin */

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}
/* Import */

@import '../css/keyframes';
@import'../css/about';
@import'../css/theme';

// https://www.scaler.com/topics/javascript/import-js-file-in-js/


/* Titre */

#tog {
    margin: 10px 0px;
    position: absolute;
    font-weight: 900;
    font-size: 2rem;
    top: 5%;
    left: 10%;
    transform: translateX(0%);
}

/* Bouton */

.main-btn{
    margin-top: 2rem;
    position: relative;
    a{
        position: relative;
        color: black;
        padding: 0.7rem 1rem;
        border: 0.25rem solid black;
        background: $bg-color;
        text-decoration: none;
        font-weight: 600;
        z-index: 1;
        @include flexCenter();
        justify-content: space-around;
        gap: 1rem;
        img{
            height: 1rem;
        }

    }
    .bg-border-btn{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        padding:1rem;
        border: 0.25rem solid black;
        left: 0;
        top: 0;
        transition: all ease-in 0.2s;
    }
    &:hover > div{
        left: 0.5rem;
        top: 0.5rem;
    }
}

/* Class fonctionnelles */


body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
    background: $bg-color;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
}

.divv {
    display: flex;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

.container{
    width: 80vw;
    margin: 0 auto;
}

.allimg {
    width: 2.8vw;
    position: relative;
    bottom: 0px;
}

.allpawn {
    transform: scale(0.9);
}

// wrapper which contains all the content of the chessboard pages

.main-wrapper{
    height: 100vh;
    width: 100%;
    @include flexCenter();
    justify-content: space-between;
    flex-direction: row;
    .player-wrapper{
        @include flexCol();
        justify-content: space-between;
        margin: 10vh 0;
        .player-block{
            height: auto;
            H2{
                font-weight: 400;
                
            }
            .player-time{
                font-size: 2rem;
                margin-top: 1rem;
                font-weight: 700;
            }
            .pieces-taken-block{
                position: relative;
                width: 100%;
                height: 4rem;
                margin-left: -1rem;
                display: grid;
                grid-template-columns: repeat(8, 1rem);
                grid-template-rows: repeat(2, 3rem);
                .piece-taken{
                    left: 0;
                    &.allpawn{
                        height: 4rem;
                    }
                }
            }
        }
    }
}


 /* HEADER */
 
 .loader-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
    z-index: 1001;
    transition: all 1s ease-out 1.3s;
    display: grid;
    place-items: center;
    
    .loader-animation{
        position: absolute;
        z-index: 10000;
        opacity: 1;
        transition: all 0.7s ease-out;
        width: 30vw; 
        height: auto;
        }
    .blockBg-loader{
        transform-origin: 50% 0%;
        background-color: #F2F2F2;
        position: absolute;
        z-index: 9999;    
        width: 100%;
        height: 100vh;
        
    }
}

.logo-ewan-t{
    position: absolute;
    top: 2rem;
    right: 5rem;
}


 /* MAIN */
.box {
    margin: 0;
    width: 4.5vw;
    height: 4.5vw;
    transition: all 0.4s ease;
}

.chess-board{
    position: relative;
    border: 7px solid black;
    background-color: black;
    .letter-chessboard{
        position: absolute;
        top: -7vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        li{
            font-size: 2vw;
            font-weight: 700;
        }
    }
    .number-chessboard{
        position: absolute;
        left: -7vh;
        height: 100%;
        li{
            font-size: 2vw;
            font-weight: 700;
        }
    }
    .border-bg-chess-board{
        z-index: -2;
        width: 100%;
        height: 100%;
        position: absolute;
        border: 7px inset black;
        left: 2rem;
        top: 2rem;
    }
}

 /* Side bar */


.sidebar-wrapper{
    height: 100%;
    @include flexCenter();
    .sidebar{
        position: relative;
        padding: 1.7vw;
        border: 0.3rem solid black;
        background: $bg-color;
        ul{
            gap: 2rem;
            li{
                cursor: pointer;
            }
            a > div{
                width:clamp(2.5rem, 2vw, 3rem);
                
            }
            img{
                width: clamp(1.5rem, 2vw, 3rem);
            }
            #toggle-chessboard-color{
                position: relative;
                width: 2rem;
                height: 2rem;
                .toggle-color-case{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 0.2rem solid #000000;
                    box-shadow: 0px 0px 0.9rem rgba(0, 0, 0, 0.25);
                    top: 0;
                    left: 0;
                    z-index: 4;
                    transition: all ease-in 0.4s;
                    &.red-bg{
                        transform: translate(-0.4rem, -0.4rem);
                        background: $light-red-gradient;
                    }
                    &.blue-bg{
                        transform: translate(0.4rem, 0.4rem);
                        background: $light-blue-gradient;
                    }
                    &.active{
                        z-index: 5;
                    }
                }
            }
        }
        .sidebar-shadow{
            z-index: -2;
            width: 107%;
            height: 102%;
            padding: 1rem;
            position: absolute;
            border: 0.3rem solid black;
            left: 0.8rem;
            top: 0.8rem;
        }
    }
}

/*  Pop-up checkmate  */

.popup-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: 1001;
    transition: all 1s ease-out 1.3s;
    display: none;
    place-items: center;
    background: rgba($main-color, 0.7);
    .popup-block{
        background: $bg-color;
        border: 0.3rem solid $main-color;
        box-shadow: 0 0px 100px rgba(242, 242, 242, 0.7);
        height: 35rem;
        width: 30rem;
        gap: 0rem;
        @include flexCol();
        justify-content: flex-start;
        align-items: center;
        #popup-heading{
            text-align: center;
            line-height: 1.3;
        }
        .animation-popup-block {
            #checkmate-blue{
                display: none;
            }
        }
    }
}

.popup-btn-wrapper{
    display: flex;
    align-items: flex-end;
    gap: 3rem;
    
}

// Media Queries

@import '../css/media-queries';