 /* Mise en page général */

 /* variables */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Import */

/* Mixin */

 /* Titre */


 /* Bouton */

 /* Class fonctionnelles */

 /* HEADER */

 /* MAIN */

 /* FOOTER */