/* iPads (portrait and landscape) ----------- */
@media screen and (max-width : 1024px) {

    .logo-ewan-t{
        position: absolute;
        bottom: 1.3rem;
        right: 1.3rem;
        img{
            width: 4rem;
        }
    }

    .allimg {
        width: 2vw;
        position: relative;
        bottom: 0px;
    }

    .box {
        width: 5vw;
        height: 5vw;
    }

    .main-wrapper{
        justify-content: center;
        flex-direction: column;
        gap: 5vh;
        .player-wrapper{
            margin: 2vh 0;
            flex-direction: row;
            width: 80%;
            .player-block{
                h2{
                    font-size: clamp(1rem, 2vw, 2.5rem);
                }
                .player-time{
                    font-size: clamp(0.7rem, 1.5vw, 2rem);
                }
            }
        }
    }
    
    .chess-board{
        .letter-chessboard{
            top: -5vh;
            li{
                font-size: 3vw;
                font-weight: 700;
            }
        }
        .number-chessboard{
            left: -5vh;
            li{
                font-size: 3vw;
                font-weight: 700;
            }
        }
    }

    .loader-wrapper{
        .loader-animation{
            width: 50vw; 
        }
    }

    .sidebar-wrapper{
        height: auto;
        .sidebar{
            position: relative;
            padding: 1rem;
            border: 0.3rem solid black;
            background: white;
            ul{
                gap: 2rem;
                display: flex;
                flex-direction: row;
                img{
                    width: 3vw;
                }
            }
            .sidebar-shadow{
                width: 103%;
                height: 107%;
                padding: 1.5rem;
                position: absolute;
                border: 0.3rem solid black;
                left: 0.8rem;
                top: 0.8rem;
            }
        }
    }
}

#tog{
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (max-width: 650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 8vw;
        height: 8vw;
    }

    .allimg {
        width: 5vw;
    }

    .main-wrapper{
        justify-content: space-around;
        flex-direction: column;
        padding: 10vh 0 5vh 0;
        .player-wrapper{
            margin: 1vh 0;
            height: auto;
        }
    }

    .loader-wrapper{
        .loader-animation{
            width: 70vw; 
        }
    }


    .sidebar-wrapper{
        height: 100%;
        @include flexCenter();
        .sidebar{
            padding: 1rem;
            ul{
                gap: 2rem;
                display: flex;
                flex-direction: row;
                img{
                    width: 4vw;
                }
            }
            .sidebar-shadow{
                z-index: -2;
                width: 107%;
                height: 102%;
                padding: 1.5rem;
                position: absolute;
                border: 0.3rem solid black;
                left: 0.8rem;
                top: 0.8rem;
            }
        }

        .chess-board{
            .letter-chessboard{
                top: -5vh;
                li{
                    font-size: 5vw;
                    font-weight: 700;
                }
            }
            .number-chessboard{
                left: -5vh;
                li{
                    font-size: 5vw;
                    font-weight: 700;
                }
            }
        }
    }
    

    // Theme Page

    h1{
        font-size: clamp(1.2rem, 1.5vw, 2rem);
        top: 45%;
        transform: translate(-50%, -50%);
    }
    p{
    }
    .blue-side{
        width: 100vw;
    }
    .red-side{
        width: 100vw;
    }
}