/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 1024px) {
    
}

@media (max-width:650px){

    #tog {
        margin-bottom: 70px;

    }

    .box {
        width: 11vw;
        height: 11vw;
    }

    .allimg {
        width: 7vw;
    }
}