/* Mise en page général */

/* variables */

$main-color: #1C1C1C;
$bg-color: #F2F2F2;

$blue-piece-color: #3F4C6B;

$light-red-gradient: linear-gradient(110.73deg, #EEA7A7 0%, #B02D30 100.08%);
$light-blue-gradient: linear-gradient(110.73deg, #9BBCEB 0%, #6D8AB5 100.08%);
$red-gradient: linear-gradient(125.43deg, #780206 -3.89%, #FF6B6B 85.41%);
$blue-gradient: linear-gradient(117.79deg, #83A4D4 -59.42%, #B6FBFF 84.55%);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', 'Lato', sans-serif;
}

/* Mixin */

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexCol {
    display: flex;
    flex-direction: column;
}
 /* Import */

@import '../css/keyframes';
@import'../css/page';



/* Titre */


/* Bouton */

/* Class fonctionnelles */


body {
    display: grid;
    place-items: center;
    overflow-x: hidden;
}

h1 {
    margin: 10px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
}

.divv {
    display: flex;
}

li {
    list-style: none;
    display: grid;
    place-items: center;
    font-size: 0px;
}

.container{
    width: 80vw;
    margin: 0 auto;
}

.main-wrapper{
    height: 100vh;
    width: 100%;
    @include flexCenter();
    justify-content: space-between;
    flex-direction: row;
    .player-wrapper{
        height: 70%;
        @include flexCol();
        align-items: center;
        justify-content: space-between;
        margin: 10vh 0;
        .player-block{
            height: 30vh;
            .pieces-taken-block{
                position: relative;
                width: 100%;
                height: 4rem;
                .piece-taken{
                    position: absolute;
                    left: 0;

                }
            }
        }
    }
}


 /* HEADER */

 /* MAIN */

 /* FOOTER */

 .loader-wrapper{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    opacity: 1;
    z-index: 1001;
    transition: all 1s ease-out 1.3s;
    display: grid;
    place-items: center;
    
    .loader-animation{
        position: absolute;
        z-index: 10000;    
        width: 100%;
        height: 100vh;
        opacity: 1;
        transition: all 0.7s ease-out;
        }
    .blockBg-loader{
        transform-origin: 50% 0%;
        background-color: #F2F2F2;
        position: absolute;
        z-index: 9999;    
        width: 100%;
        height: 100vh;
        
    }
}

.logo-ewan-t{
    position: absolute;
    top: 2rem;
    right: 5rem;
}

 .box {
    margin: 0;
    width: 4.5vw;
    height: 4.5vw;
}

.chess-board{
    position: relative;
    border: 7px solid black;
    background-color: black;
    .letter-chessboard{
        position: absolute;
        top: -7vh;
        width: 100%;
        display: flex;
        justify-content: space-around;
        li{
            font-size: 2vw;
            font-weight: 700;
        }
    }
    .number-chessboard{
        position: absolute;
        left: -7vh;
        height: 100%;
        li{
            font-size: 2vw;
            font-weight: 700;
        }
    }
    .border-bg-chess-board{
        z-index: -2;
        width: 100%;
        height: 100%;
        position: absolute;
        border: 7px inset black;
        left: 2rem;
        top: 2rem;

    }
}

.sidebar-wrapper{
    height: 100%;
    @include flexCenter();
    .sidebar{
        position: relative;
        padding: 1rem;
        border: 0.3rem solid black;
        background: white;
        ul{
            gap: 2rem;
        }
        .sidebar-shadow{
            z-index: -2;
            width: 107%;
            height: 102%;
            padding: 1rem;
            position: absolute;
            border: 0.3rem solid black;
            left: 0.8rem;
            top: 0.8rem;
        }
    }
}

#tog {
    margin: 10px 0px;
}

.allimg {
    width: 2.8vw;
    position: relative;
    bottom: 0px;
}

.allpawn {
    transform: scale(0.9);
}

.authcont {
    width: 100vw;
}

.author {
    float: right;
    margin-right: 50px;

}

@import '../css/media-queries';