@charset "UTF-8";
/* Mise en page général */
/* variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", "Lato", sans-serif;
}

/* Mixin */
/* Import */
@-webkit-keyframes opacityToZero {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacityToZero {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.theme-section {
  position: relative;
}
.theme-section .heading-theme {
  width: 100%;
  text-align: center;
  font-size: clamp(2rem, 2.5vw, 4rem);
  font-weight: bolder;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  margin: 0;
}
.theme-section .p-theme {
  font-size: clamp(1rem, 1.4vw, 2rem);
  position: absolute;
  left: 50%;
  top: 13%;
  transform: translateX(-50%);
  text-align: center;
}

.blue-side {
  background: linear-gradient(110.73deg, #9BBCEB 0%, #6D8AB5 100.08%);
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red-side {
  background: linear-gradient(110.73deg, #EEA7A7 0%, #B02D30 100.08%);
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  width: 90%;
  height: 50%;
}
.piece-wrapper .piece-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.piece-wrapper .piece-item .img-piece {
  position: absolute;
  height: 7rem;
  z-index: 2;
}
.piece-wrapper .piece-item .img-piece.shadow {
  z-index: 1;
  transition: all ease 0.3s;
  opacity: 0;
}

/* Titre */
/* Bouton */
/* Class fonctionnelles */
body {
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

ul {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
}

.divv {
  display: flex;
}

li {
  list-style: none;
  display: grid;
  place-items: center;
  font-size: 0px;
}

.container {
  width: 80vw;
  margin: 0 auto;
}

.main-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  flex-direction: row;
}
.main-wrapper .player-wrapper {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10vh 0;
}
.main-wrapper .player-wrapper .player-block {
  height: 30vh;
}
.main-wrapper .player-wrapper .player-block .pieces-taken-block {
  position: relative;
  width: 100%;
  height: 4rem;
}
.main-wrapper .player-wrapper .player-block .pieces-taken-block .piece-taken {
  position: absolute;
  left: 0;
}

/* HEADER */
/* MAIN */
/* FOOTER */
.loader-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  z-index: 1001;
  transition: all 1s ease-out 1.3s;
  display: grid;
  place-items: center;
}
.loader-wrapper .loader-animation {
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100vh;
  opacity: 1;
  transition: all 0.7s ease-out;
}
.loader-wrapper .blockBg-loader {
  transform-origin: 50% 0%;
  background-color: #F2F2F2;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100vh;
}

.logo-ewan-t {
  position: absolute;
  top: 2rem;
  right: 5rem;
}

.box {
  margin: 0;
  width: 4.5vw;
  height: 4.5vw;
}

.chess-board {
  position: relative;
  border: 7px solid black;
  background-color: black;
}
.chess-board .letter-chessboard {
  position: absolute;
  top: -7vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.chess-board .letter-chessboard li {
  font-size: 2vw;
  font-weight: 700;
}
.chess-board .number-chessboard {
  position: absolute;
  left: -7vh;
  height: 100%;
}
.chess-board .number-chessboard li {
  font-size: 2vw;
  font-weight: 700;
}
.chess-board .border-bg-chess-board {
  z-index: -2;
  width: 100%;
  height: 100%;
  position: absolute;
  border: 7px inset black;
  left: 2rem;
  top: 2rem;
}

.sidebar-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-wrapper .sidebar {
  position: relative;
  padding: 1.7vw;
  border: 0.3rem solid black;
  background: white;
}
.sidebar-wrapper .sidebar ul {
  gap: 2rem;
}
.sidebar-wrapper .sidebar ul img {
  width: 2.5vw;
}
.sidebar-wrapper .sidebar .sidebar-shadow {
  z-index: -2;
  width: 107%;
  height: 102%;
  padding: 1rem;
  position: absolute;
  border: 0.3rem solid black;
  left: 0.8rem;
  top: 0.8rem;
}

#tog {
  margin: 10px 0px;
}

.allimg {
  width: 2.8vw;
  position: relative;
  bottom: 0px;
}

.allpawn {
  transform: scale(0.9);
}

.authcont {
  width: 100vw;
}

.author {
  float: right;
  margin-right: 50px;
}

/* iPads (portrait and landscape) ----------- */
@media screen and (max-width: 650px) {
  #tog {
    margin-bottom: 70px;
  }
  .box {
    width: 8vw;
    height: 8vw;
  }
  .allimg {
    width: 5vw;
  }
  .main-wrapper {
    flex-direction: column !important;
  }
  .sidebar-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar-wrapper .sidebar {
    position: relative;
    padding: 1.7vw;
    border: 0.3rem solid black;
    background: white;
  }
  .sidebar-wrapper .sidebar ul {
    gap: 1rem;
    display: flex;
    flex-direction: row;
  }
  .sidebar-wrapper .sidebar ul img {
    width: 2.5vw;
  }
  .sidebar-wrapper .sidebar .sidebar-shadow {
    z-index: -2;
    width: 107%;
    height: 102%;
    padding: 1rem;
    position: absolute;
    border: 0.3rem solid black;
    left: 0.8rem;
    top: 0.8rem;
  }
  h1 {
    font-size: clamp(1.2rem, 1.5vw, 2rem);
    top: 45%;
    transform: translate(-50%, -50%);
  }
  p {
    top: 55%;
    transform: translate(-50%);
  }
  .blue-side {
    width: 100vw;
  }
  .red-side {
    width: 100vw;
  }
}/*# sourceMappingURL=style.css.map */