// Mise en page général

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

// Titre

// Bouton


// HEADER

// MAIN

.red{
    width: 200px;
    height: 200px;
    background-color: red;
}

.blue{
    width: 200px;
    height: 200px;
    background-color: blue;
}

.green{
    width: 200px;
    height: 200px;
    background-color: green;
}
// FOOTER